*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

/* GLOBAL CONTAINER */
.globalContainer,
.gameContainer {
    width: 100%;
}

/* WELCOME SECTION */
.welcomeContainer {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dukuzakaw/image/upload/v1658923809/codeWorkAssigment/blackJackMain_jnzxde.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shadowContainer {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.cardContainer {
    border-radius: 1rem;
    background-image: url('https://res.cloudinary.com/dukuzakaw/image/upload/e_blur:100/v1658943621/codeWorkAssigment/deck_nzuydq.webp');
}

.cardContainer__shadow {
    border-radius: 1rem;
    width: 100%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.cardContainer__titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem 0.6rem;
    margin-bottom: 1rem;
}

.cardContainer__titles > h1 {
    font-size: 2rem;
    color: #003566;
    font-weight: bolder;
}

.cardContainer__titles > p {
    color: #004e98;
    font-size: 16px;
}

.cardContainer__infoPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0.6rem;
}

.playerNameField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.8rem;
}

.playerNameField > input[type="text"] {
    padding: 5px 2px;
    border: none;
    border-bottom: 1px solid #7f8c8d;
    background-color: transparent;
    font-size: 18px;
    caret-color: #0466c8;
    font-weight: bold;
    color: #024;
    transition: border-bottom 400ms; /* taken from w3school website */
}

.playerNameField > input::placeholder {
    color: #386fa4;
}

.playerNameField > input:hover {
    border-bottom: 1px solid #001845;
}

.validationField {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.cardContainer__infoPlayer--button {
    margin: 0.25rem 0.125rem;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: #001f54;
    cursor: pointer;
    padding: 0.25rem 0;
    border: 2px solid #001f54;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
}

.cardContainer__infoPlayer--button:hover {
    background-color: #001f54;
    color: white;
}

.removeContainer {
    display: none;
}

.hideElement {
    opacity: 0;
}

.showElement {
    opacity: 1;
}

/* GAME CONTAINER */
.blackjackBoard {
    height: 100vh;
    background-image: url('https://res.cloudinary.com/dukuzakaw/image/upload/v1659014608/codeWorkAssigment/bjTable_cntpuy.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blackjackBoard__topSection {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.topSection__titles {
    margin: 1rem;
}

.topSection__titles > h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.topSections__statusGame {
    display: flex;
    justify-content: center;
}

.topSections__statusGame > p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #003566;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px 12px;
    border-radius: 5px;
}

.gameTable__players {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameTable__players > div {
    display: flex;
    flex: 1;
}

.gameTable__user {
    border-right: 1px solid #000814;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 55vh;
}

.gameTable__computer {
    border-left: 1px solid #000814;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 55vh;
}

.gameTableUser__score,
.gameTableDealer__score {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameTableUser__score > h3,
.gameTableDealer__score > h3 {
    color: white;
    font-size: 1.5rem;
}

.gameTableUser__score > p,
.gameTableDealer__score > p {
    color: white;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.5rem;
    border-radius: 100px;
}

.gameTableUser__score--lowerScoreHand {
    background-color: rgb(0, 24, 69) !important;
}

.blackjackPlayer, .blackjackDealer {
    color: #fb8500 !important;
    font-weight: bold;
}

.bustPlayer, .bustDealer {
    color: #c1121f !important;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 1) !important;
}

.gameTableUser__board,
.gameTableDealer__board {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.gameTableUser__board > img,
.gameTableDealer__board > img {
    padding: 5px;
    width: 15%;
}

.blackjackBoard__controllers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.boardControllers__statistics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.boardControllers__statistics > div {
    width: 100px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    border-radius: 25px;
    margin: 0.25rem 0.125rem;
}

.boardControllers__statistics--wins {
    background-color: rgba(112, 224, 0, 0.8);
}

.boardControllers__statistics--wins:hover {
    background-color: rgba(112, 224, 0, 0.2);
    color: #70E000;
    transition: all 0.4s ease;

}

.boardControllers__statistics--looses {
    background-color: rgba(164, 22, 26, 0.8);

}

.boardControllers__statistics--looses:hover {
    background-color: rgba(164, 22, 26, 0.2);
    color: #A4161A;
    transition: all 0.4s ease;
}

.boardControllers__statistics--draws {
    background-color: rgba(255, 218, 10, 0.8);

}

.boardControllers__statistics--draws:hover {
    background-color: rgba(255, 218, 10, 0.2);
    color: #FFDA0A;
    transition: all 0.4s ease;
}

.boardControllers__statistics--wins > span,
.boardControllers__statistics--wins > p,
.boardControllers__statistics--looses > span,
.boardControllers__statistics--looses > p,
.boardControllers__statistics--draws > span,
.boardControllers__statistics--draws > p {
    text-align: center;
}

.boardControllers__buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.boardControllers__buttons > button {
    width: 100px;
    padding: 0.5rem 0.7rem;
    border-radius: 25px;
    text-decoration: none;
    margin: 0.25rem 0.125rem;
    outline: none;
}

.boardControllers__buttons--hit {
    cursor: pointer;
    color: #03045e;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #03045e;
    background-color: rgba(2, 62, 138, 0.1);
    box-shadow: 5px 10px 20px rgba(2, 62, 138, 0.2) inset;
}

.boardControllers__buttons--hit:hover {
    color: #fff;
    border: 3px solid #03045e;
    background-color: #03045e;
    transition: all 0.4s ease;
}

.boardControllers__buttons--stand {
    cursor: pointer;
    color: #780000;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #780000;
    background-color: rgba(193, 18, 31, 0.1);
    box-shadow: 5px 10px 20px rgba(193, 18, 31, 0.2) inset;
}

.boardControllers__buttons--stand:hover {
    color: #fff;
    border: 3px solid #780000;
    background-color: #780000;
    transition: all 0.4s ease;
}

.boardControllers__buttons--deal {
    cursor: pointer;
    color: #495057;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #495057;
    background-color: rgba(173, 181, 189, 0.1);
    box-shadow: 5px 10px 20px rgba(173, 181, 189, 0.2) inset;
}

.boardControllers__buttons--deal:hover {
    color: #fff;
    border: 3px solid #495057;
    background-color: #495057;
    transition: all 0.4s ease;
}

.boardControllers__buttons--split,
.boardControllers__buttons--hit2 {
    cursor: pointer;
    color: #ffc300;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #ffc300;
    background-color: rgba(255, 225, 76, 0.1);
    box-shadow: 5px 10px 20px rgba(255, 225, 76, 0.2) inset;
}

.boardControllers__buttons--split:hover,
.boardControllers__buttons--hit2:hover {
    color: #fff;
    border: 3px solid #ffc300;
    background-color: #ffc300;
    transition: all 0.4s ease;
}